.homeDesign{
    background-image:url("https://www.thesportsdb.com/images/media/team/stadium/j1oc1z1550061770.jpg");
    background-color: #1b0f0f;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}